!!! 5
%html
  %head
   
    %link{:href=> url("stylesheets/bootstrap.css"), :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    /%link{:href=>'stylesheets/bootstrap-theme.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=> url('stylesheets/screen.css'), :rel => 'stylesheet', :media => "screen", :type => "text/css"}  

    %script{:type => "text/javascript", :src => url("js/bootstrap.min.js")}
  %body
    = haml(:_header)
    .container
      .row
        - if url().include? "wiki"
          = haml(:_wiki_nav)
        = yield
    = haml(:_footer)