!!! 5
%html
  %head
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46421630-1', 'heisenbugdev.com');
      ga('send', 'pageview');

    </script>
    %link{:href=> url("stylesheets/bootstrap.css"), :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    /%link{:href=>'stylesheets/bootstrap-theme.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=> url('stylesheets/screen.css'), :rel => 'stylesheet', :media => "screen", :type => "text/css"}  
    %link{:href=> url("favicon.png"), :rel => "icon", :type => "image/png"}
    %title HeisenBugDev

    %script{:type => "text/javascript", :src => url("js/bootstrap.min.js")}
  %body
    = haml(:_header)
    .container
      .row
        - if request.path.include? "wiki"
          = haml(:_wiki_nav)
        = yield
    = haml(:_footer)
