%footer.ui.page.segment.grid.light-gray
  .stackable.ui.grid.row
    %a.four.wide.column.link{:href => "#"} Back to top
    %p.four.wide.right.floated.aligned.column.copyright
      &copy; 2013 HeisenBugDev.
    %p.eight.wide.center.floated.aligned.column
      I don't know why you're reading this, it's just really small text. You know what we should do? We should create the STAM (Small Text Association of 'Murica). I really like it when people make things funny in their small text, sadly that is not the case here :(
