%footer.ui.page.segment.grid.light-gray
  .stackable.ui.grid.row
    %a.six.wide.column.link{:href => "#"} Back to top
    %p.six.wide.right.floated.aligned.column.copyright
      &copy; 2013 HeisenBugDev.