.ui.grid.fixed.transparent.inverted.main.menu
  .container
    .title.item
      %a.bigger-text{:href => "/"} HeisenBugDev
    .right.menu
      %a.item{:href => "/about"} About
      %a.item{:href => "/wiki"} QuantumCraft Wiki
      %a.item{:href => "/downloads"} Downloads
