.inverted.secondary.pointing.ui.menu
  .header.item
    %a{:href => "/"} HeisenBugDev
  .right.menu
    %a.item{:href => "/about"} About
    %a.item{:href => "/wiki"} QuantumCraft Wiki
    %a.item{:href => "/downloads"} Downloads
