.col-md-3
  .well
    %ul.nav
      = render_nav()
      %li.nav-header
        %h3 Meta
        %a{:href => "."} Intro
      %li.nav-header 
        %h3 Machines
      %li
        %a{:href => ""} Quantum De-Energizer
      %li
        %a{:href => ""} Quantum Energy Injector
      %li
        %a{:href => ""} Quantum Energy Extractor
      %li
        %a{:href => ""} Quantum Dislocator
      %li
        %a{:href => ""} Quantum Dematerializer  
      %li.nav-header 
        %h3 Items
      %li
        %a{:href => ""} Raw Quantonium
      %li
        %a{:href => ""} Crystallized Quantonium
      %li.nav-header 
        %h3 Blocks