.col-md-3
  .well
    %ul.nav
      %li.nav-header
        %h3 Meta
        %a{:href => "."} Intro
      %li.nav-header 
        %h3 Machines
      %li
        %a{:href => ""} Quantum De-Energizer
      %li
        %a{:href => ""} Quantum Energy Injector
      %li.nav-header 
        %h3 Items
      
      %li.nav-header 
        %h3 Blocks