.container
  %h1 We're HeisenBugDev! We develop Minecraft mods.

  .col-md-2 
    %img.img-responsive{:alt => "Generic placeholder image", :src => "https://secure.gravatar.com/avatar/fe9752a7c40b4b3c430fbf79ad74f5e2?s=100"}
  %h3
    Theron Boerner (hunterb/hunterboerner)
  %p.lead
    Theron is the epic planner and project manager! He is the one who talks to the community, helps people, finds testers, and made this website!
.container
  .col-md-2 
    %img.img-responsive{:alt => "Generic placeholder image", :src => "https://secure.gravatar.com/avatar/27f587931b43eff739f24ad00c25a8cc?s=100"}
  %h3
    LordFokas
  %p.lead
    He's a coder. He codes StargateTech. He's epic.
.container
  .col-md-2 
    %img.img-responsive{:alt => "Generic placeholder image", :src => "https://secure.gravatar.com/avatar/3f4133fd84af93cf09cb032fb28f20d8?s=100"}
  %h3
    sammko
  %p.lead
    He is one of the co-developers of QuantumCraft! He makes stuff look pretty and sometimes fixes bugs.
.container
  .col-md-2 
    %img.img-responsive{:alt => "Generic placeholder image", :src => "https://secure.gravatar.com/avatar/3f4133fd84af93cf09csdfjkmljkldfsjklsdfb032fb28f20d8?s=100"}
  %h3
    wtg62
  %p.lead
    He doesn't have an avatar on anything. He does our artwork (oh the irony).