.marketing
  %hr.featurette-divider
    .row.featurette
      .col-md-7
        %h2.featurette-heading
          We're epic
          %span.text-muted Just look at what we've done
        %p.lead A joint effort of the whole team that builds on basic quantum physics. It's mostly just a bunch of fun.
      .col-md-5
        %img.featurette-image.img-responsive{:alt => "QuantumCraft", :src => "images/quantumcraft.png"}
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        %img.featurette-image.img-responsive{:alt => "Team", :src => "images/heisenbugdev-team.jpg"}

      .col-md-7
        %h2.featurette-heading
          Our team is so epic.
          %span.text-muted We've got a russian.
        %p.lead 
          The team is composed of 
          %a{:href => "https://github.com/hunterboerner"} @hunterboerner
          , 
          %a{:href => "https://github.com/sammko"} @sammko
          ,
          %a{:href => "https://github.com/wtg62"} @wtg62
          , and 
          %a{:href => "https://github.com/lordfokas"} @LordFokas.
          PS. sammko isn't really a Russian.

    %hr.featurette-divider
      .row.featurette
        .col-md-7
          %h2.featurette-heading
            Stargate Tech.
            %span.text-muted LordFokas injected it with epic.
          %p.lead Look at the pretty picture!
        .col-md-5
          %img.featurette-image.img-responsive{:alt => "Stargate Tech 2", :src => "images/stargate_tech.png", :width => "500", :height => "500"}
     