.ui.page.grid.relaxed.feature.segment.inverted
  .row
    .eight.wide.column
      %img{:alt => "Logo", :src => "images/hbd-logo.png"}
    .eight.wide.column
      %h1.ui.header
        HeisenBugDev
      %p.lead
      	Some text here
      	and our logo
.ui.page.grid.relaxed.feature.segment
  .row
    .eight.wide.column
      %h1.ui.header
        QuantumCraft
        %span.text-muted Just look at what we've done
      %p.lead A joint effort of the whole team that builds on basic quantum physics. It's mostly just a bunch of fun.
    .eight.wide.column
      %img{:alt => "QuantumCraft", :src => "images/quantumcraft.png"}
.ui.page.grid.relaxed.feature.segment.inverted
  .row
    .eight.wide.column
      %img{:alt => "Team", :src => "images/heisenbugdev-team.jpg"}
    .eight.wide.column
      %h1.ui.header
        We have people
        %span.text-muted ... and a russian.
      %p.lead
        The team is composed of
        %a{:href => "https://github.com/hunterboerner"} @hunterboerner
        ,
        %a{:href => "https://github.com/sammko"} @sammko
        ,
        %a{:href => "https://github.com/wtg62"} @wtg62
        , and
        %a{:href => "https://github.com/lordfokas"} @LordFokas.
        PS. sammko isn't really a Russian.
.ui.page.grid.relaxed.feature.segment
  .row
    .eight.wide.column
      %h1.ui.header
        Stargate Tech.
        %span.text-muted OMG PRETTY THINGS.
      %p.lead Look at the pretty picture!
    .eight.wide.column
      %img{:alt => "Stargate Tech 2", :src => "images/stargate_tech.png", :width => "500", :height => "500"}
